﻿@model FilmSitesi.Models.tbl_Admin
@{
    ViewBag.Title = "Admin Sil";
}
<div class="row  col-md-12">
    <h2>Sil</h2>
</div>
<div class="row  col-md-12">
    @{ if (@Model.AdminAdi != null)
        {<h3>@Model.AdminAdi</h3>}
        
    }
</div>
@using (Html.BeginForm())
{
    <div class="row  col-md-12">
        <p> Adlı admini silmek istediğinizden eminmisiniz.</p>
        <button type="submit" class="btn active">  Sil  </button>
        <a href='@Url.Action("Index", "Admin")'><b style="color:green;">Vazgeç</b></a>
    </div>
}