﻿@model FilmSitesi.Models.tbl_Film

@{
    ViewBag.Title = "FilmDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><center>@Html.DisplayFor(model => model.FilmAdi)</center></h2>

<div>
    <h3><center> Film Detayı</center></h3>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <img src="@Html.DisplayFor(model => model.resimUrl)" alt="" height="172" width="351" align="right" > 
        </div>
        <div class="col-sm-6">
            <b>Filmin Adı :</b> @Html.DisplayFor(model => model.FilmAdi)<br><br>
            <b>Filmin Türü :</b> @Html.DisplayFor(model => model.kategori.KategoriAdi)<br><br>
            <b> Yönetmenin Adı :</b> @Html.DisplayFor(model => model.YonetmenAdi)<br><br>
            <b>  Filmin Özeti :</b> @Html.DisplayFor(model => model.FilmBilgi)<br><br>

        </div>
        </div>
    </div>
<p>@*
    @Html.ActionLink("Edit", "Edit", new { id = Model.tbl_FilmID }) |
    @Html.ActionLink("Back to List", "Index")
   *@
</p>
