﻿
@{
    ViewBag.Title = "Index";
}
<section id="home" data-target="home">
    <div class="action-banner">
        <div class="container">
            <h2>@FilmSitesi.Resources.lang.banner</h2>
            <p>@FilmSitesi.Resources.lang.bannerr</p>
        </div>
    </div>
    <div class="section-area">
        <div class="container">
            <div class="blog-slider-wrap">
                <ul class="blog-slider">
                    <li>
                        <img src="/assets/images/a.jpg" alt="">
                        <div class="overlay-data right">
                            <div class="overlay-inner">
                                <div>
                                    <a href="~/Home/FilmDetay/1"> <h4><font color="FFFFFF"> <h4>Esaretin Bedeli</h4></font></a>
                                </div>
                            </div>
                            <a href="/assets/images/a.jpg" title="" class="zoom fancybox" rel="group1"><span class="fa fa-search"></span></a>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/b.jpg" alt="">
                        <div class="overlay-data right">
                            <div class="overlay-inner">
                                <div>
                                    <a href="~/Home/FilmDetay/5"> <h4><font color="FFFFFF"> <h4>Kara Şovalye</h4></font></a>
                                </div>
                            </div>
                            <a href="/assets/images/b.jpg" title="" class="zoom fancybox" rel="group1"><span class="fa fa-search"></span></a>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/d.jpg" alt="">
                        <div class="overlay-data right">
                            <div class="overlay-inner">
                                <div>
                                    <a href="~/Home/FilmDetay/2"> <h4><font color="FFFFFF">Ali Baba ve 7 Cüceler</font></h4></a>
                                </div>
                            </div>
                            <a href="/assets/images/d.jpg" title="" class="zoom fancybox" rel="group1"><span class="fa fa-search"></span></a>
                        </div>
                    </li>
                    <li>
                        <img src="/assets/images/c.jpg" alt="">
                        <div class="overlay-data right">
                            <div class="overlay-inner">
                                <div>
                                    <a href="~/Home/FilmDetay/3"> <h4><font color="FFFFFF">Dövüş Kulübü</font></h4></a>
                                </div>
                            </div>
                            <a href="/assets/images/c.jpg" title="" class="zoom fancybox" rel="group1"><span class="fa fa-search"></span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<font size="3"  color="white"><FilmSitesi.Models.tbl_Film></font>

    <section id="portfolio" data-target="portfolio">
        <div class="section-area portfolio offwhite">
            <div class="container">
                <div class="title-section text-center">
                    <h1>@FilmSitesi.Resources.lang.Kategoriler</h1>
                    <ul class="list-inline filter-list">
                        <li class="active"><a href="#" title="" data-filter="*">Hepsi</a></li>
                        @foreach (var item in ViewBag.Kategori)
                        {
                            <li><a href="#" title="" data-filter=".@item.KategoriAdi">@item.KategoriAdi</a></li>
                        }
                    </ul>
                </div>
                <ul class="items_container">
                    @foreach (var item in Model)
                    {
                        <li class="@item.kategori.KategoriAdi">
                                <img src="@item.resimUrl" alt="@item.FilmAdi" height="152" width="331">
                                <div class="overlay-data top">
                                    <div class="overlay-inner">
                                        <div>
                                            <a href="~/Home/FilmDetay/@item.tbl_FilmID">
                                                <font color="FFFFFF">
                                                    <h4>@item.FilmAdi</h4>
                                                </font>
                                            </a>
                                                    <p>@item.YonetmenAdi</p>
                                         </div>
                                    </div>
                                    <a href="@item.resimUrl" title="" class="zoom fancybox" rel="group1a"><span class="fa fa-search"></span></a>
                                </div>
                            </li>
                    }

</ul>
            </div>
        </div>
    </section>
