﻿
@{
    ViewBag.Title = "Portfoy";
}

<section id="services" data-target="services">
    <div class="section-area no-border">
        <div class="container">
            <div class="title-section">
               <center> <h1>@FilmSitesi.Resources.lang.Hedefler</h1>
                <p>@FilmSitesi.Resources.lang.hedeficerik </p></center>
            </div>
            <div class="row features">
                <div class="col-sm-4 feature">
                    <h3><span class="fa fa-eye icon-circle"></span> @FilmSitesi.Resources.lang.begenilenFilmler</h3>
                    
                </div>
                <div class="col-sm-4 feature">
                    <h3><span class="fa fa-trophy icon-circle"></span>@FilmSitesi.Resources.lang.odulFilm </h3>
                     
                </div>
                <div class="col-sm-4 feature">
                    <h3><span class="fa fa-share-alt icon-circle"></span>@FilmSitesi.Resources.lang.d3filmler</h3>
                     
                </div>
           
               
                
        </div>
    </div>
</section>